<% layout("/layout/boilerplate") -%>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <h2>Edit the list <%= listing._id %></h2>
    <form novalidate class="needs-validation" method="post" action="/listing/<%= listing._id %>?_method=PUT">
        <div class="mb-3">
        <label for="title" class="form-label">Edit title</label>
        <input  required class="form-control" type="text" name="listing[title]" value="<%=listing.title%>">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Edit Description</label>
        <textarea  required type="text" name="listing[description]" class="form-control"rows="5"><%=listing.description%></textarea>
    </div>

<div class="mb-3">
<label for="image" class="form-label">Image Link</label>
<input  required type="text" name="image" class="form-control">
</div>
    <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Edit Price</label>
            <input required type="number" class="form-control" name="listing[price]" value="<%=listing.price%>">
            <div class="invalid-feedback">please enter valid price</div>
        </div>
        <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Edit Country</label>
            <input required class="form-control" type="text" name="listing[country]" value="<%=listing.country%>">
            <div class="invalid-feedback">please enter valid price</div>
        </div>
    </div>
        
    <div class="mb-3">
        <label class="form-label" for="location">Edit location</label>
        <input required class="form-control" type="text" name="listing[location]" value="<%=listing.location%>">
        <div class="invalid-feedback"> Enter valid country</div>
    </div>
        
        <div class="mb-3">
        <button class="btn btn-dark eidt-btn">Edit</button><hr>
    </div>
    </form>
        </div>
    </div>
    
<script src="/js/script.js"></script>
</body>