<% layout("/layout/boilerplate") -%>
<body>
    <div class="row mb-3">
        <div class="col-8 offset-3 mt-2">
            <h3>List's Details</h3>
        </div>
            <div class="card col-4 offset-3 card-listing ">
                <img style="height: 35vh;" src="<%=listing.image.url %>" >
                 <div class="card-body">
                    <p class="card-text">
                        <b><%= listing.title %></b><br>
                         <%= listing.description  %> <br>
                         &#x20B9; <%= listing.price%> /night <br>
                         <%= listing.location  %> <br>
                         <%= listing.country  %>
                    </p>
                </div>
            </div>
        
        <div class="btns offset-3">
            <a class="btn btn-dark" href="/listing/<%=listing._id %>/edit">Edit</a><br>
            <form method="post" action="/listing/<%=listing._id %>?_method=DELETE"><Button class="btn btn-dark cols-2 offset-6">Delete</Button></form>
        
        </div>
    </div>
    <div class="col-8 offset-3">
        <hr/>
        <h4>Leave a review</h4>
       <form method="post" action="/listing/<%=listing._id %>/reviews" novalidate class="needs-validation">
        <div class="mb-3 mt-3">
            <label for="rating" class="form-label"> Rating</label>
            <input type="range" class="form-range" min="1" max="5" id="rating" name="review[rating]">
        </div>
        <div class="mb-3 mt-3">
            <label for="comment" class="form-label">Comments</label>
            <textarea id="textarea" name="review[comment]" class="form-control" cols="30" rows="5" placeholder="Enter the comment" required></textarea>
        </div>
        <button class="btn btn-outline-dark">Submit</button>
       </form>
    </div>

    <div>
         <p><b> All reviews</b></p>
          <div class="row">
        <% for(l of listing.reviews) {%>
         <div class="card col-5 ms-3 mb-3 " >
            <div class="card-body">
                <div class="card-title">name of who is commenting </div>
                <p class="card-text">Comment : <%= l.comment %></p>
                <p class="card-text"> Rating: <%= l.rating %></p>
                
            <form method="post"  action="/listing/<%= listing._id %>/reviews/<%= l._id %>?_method=DELETE">
                <button class="btn btn-sm btn-dark mb-3 ">Delete</button>       
             </form>
            </div>

    </div>
      
            
            <% } %>
        </div>
           
        


    <script src="/js/script.js"></script>
  </body>
